@import "bulma/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&family=Monoton&display=swap");

* {
  font-family: "Meera Inimai", sans-serif;
}

.cell {
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  position: relative;

  border: 2px solid #888;
  margin: 0.5rem;
  text-align: center;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
@media (min-width: 25rem) {
  .cell {
    min-width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
  }
}

.key {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  padding: 0.5rem 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
}
.key:not(:last-child) {
  margin-right: 0.2rem;
}
.key:hover {
  background-color: #eee;
}
.key.← {
  background-color: hsl(347, 90%, 96%);
}
.key.↑ {
  background-color: hsl(219, 70%, 96%);
}

#header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

#keyboard {
  position: sticky;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  padding: 4px;
  background-color: white;
  z-index: 10;
}

.key:disabled {
  background-color: #ccc;
}

.badge {
  background-color: #ccc;
  border: 2px solid transparent;
  border-radius: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  line-height: 8px;
  min-width: 1.5rem;
  overflow: hidden;
  padding: 0.35rem 0.15rem;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
}

.badge-mei-match {
  background-color: #48c78e !important;
}

.badge-uyir-match {
  background-color: #48c78e !important;
}
